<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARparA5iIjWY6wkNuyY0BcI6ee1xVN2_o</string>
	<key>GCM_SENDER_ID</key>
	<string>246326661540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.VictoryChallenge</string>
	<key>PROJECT_ID</key>
	<string>victorychallenge-b8854</string>
	<key>STORAGE_BUCKET</key>
	<string>victorychallenge-b8854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246326661540:ios:5515ddbfff74818956b131</string>
</dict>
</plist>